# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

.vs/
*.vcxproj.user

[Pp]ackages/
[Oo]ut/
[Bb]uild/
[Dd]ebug/
[Rr]elease/

CMakeSettings.json

!*/Resources/**/*.obj

# Allow GLEW binaries and libraries
!Dependencies/glew-2.2.0-win32/glew-2.2.0/bin/**
!Dependencies/glew-2.2.0-win32/glew-2.2.0/lib/**